# Jekyll build files
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Site dependencies
vendor/

# OS and editor junk
.DS_Store
Thumbs.db

# VSCode settings
.vscode/

# Ruby files
*.gem
.bundle/
Gemfile.lock

